@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Serif+Pro:wght@200;300;400;600;700;900&family=Tenor+Sans&display=swap');

// Fonts
$poppins : 'Poppins', sans-serif;
$tenor: 'Tenor Sans', sans-serif;

// colors
$primary-color : #094B72;
$secondary-color : #1282A6;

